
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 2em;
}

a {
    color: grey;
    text-decoration: none;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 27px;
    font-weight: 500;
    line-height: 2em;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 3em;
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 3em;
    color: white;
}
h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6em;
    color: white;
}
h5 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

a:hover{
    color: black;
}

/* ---- layout ---- */

body{
    background: #FCFBFB
}

.container {
  margin: 0 20px;
  max-width: 1040px;
  padding-bottom: 20px;
}

section {
  margin-bottom: 20px;
  padding-top: 20px;
}

/* ---- banner ---- */
.banner{
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../Images/image2.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    .banner h1{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 2em;
        font-weight: 500;
        line-height: 1em;
    }

 /* ---- header ---- */

.page-header h1{
font-size: 2em;
}

.page-header{
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
    
.page-header a:hover{
        color: grey;
    }
.page-header a{
    color: black;
    padding: 5px 10px;
}
.page-header h1{
    font-size: 20px;
}

/* ---- projects ---- */
.flex-list{
    display: flex;
}

.flex-list li{
    flex-basis: 100%;
    position: relative;
    padding: 10px 0px;
}

.portfolio-title{
    position: absolute;
    left: 5%;
    bottom: 10%;
    width: 80%;
}

/* ---- contact ---- */
.contact {
    padding-bottom: 40px;
}

/* ---- footer ---- */

.main-footer {
    color: white;
    padding: 60px 0;
    background: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 100px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  

/* ---- section ---- */

.inline-list li{
    display:inline-block;
    }

/* ---- elements style ---- */
img:hover{
    opacity: .7;
        -moz-box-shadow:    3px 3px 5px 2px #ccc;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;
        box-shadow:         3px 3px 5px 2px #ccc;
    }

img{
        max-width: 100%;
    }


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container{
        margin: 0 auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .portfolio__list ul{
        display:inline-block;
    }

    portfolio__list li{
        width: 25%;
    }
}