
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ---- typography ---- */

body {
  color:#001a33;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 2em;
}

a {
    color: grey;
    text-decoration: none;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 27px;
    font-weight: 500;
    line-height: 2em;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 3em;
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 2em;
    color:#001a33;
}
h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6em;
    color: #001a33;
}
h5 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7D8A97
}

a:hover{
    color:#001a33;
}
.footer-copy {
    display:flex;
    flex-direction:row;
    justify-content: space-between;

}

/* ---- layout ---- */

body{
    background: #FCFBFB
}

.container {
  margin: 0 20px;
  max-width: 1040px;
  padding-bottom: 20px;
}

section {
  margin-bottom: 20px;
  padding-top: 20px;
}

/* ---- banner ---- */
.banner{
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../Images/image2.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    .banner h1{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 2em;
        font-weight: 500;
        line-height: 1em;
    }

 /* ---- header ---- */

.page-header h1{
font-size: 2em;
}

.page-header{
    background: white;
    color: #001a33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
    
.page-header a:hover{
        color: #001a33;
        transition: color 1s ease-out;
    }
.page-header a{
    color: grey;
    padding: 5px 10px;
}
.page-header h1{
    font-size: 20px;
}

/* ---- projects ---- */
.flex-list{
    display: flex;
}

.flex-list li{
    flex-basis: 100%;
    position: relative;
    padding: 10px 0px;
}

.portfolio-title{
    position: absolute;
    left: 5%;
    bottom: 10%;
    width: 80%;
}

.grid-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
}

.grid-list li{
    position: relative;
}

.grid-list img{
    display: block;
}

/* ---- contact ---- */
.contact {
    padding-bottom: 40px;
}

.contact {
    text-align: center;
}

/* ---- footer ---- */

.main-footer {
    color: white;
    padding: 60px 0;
    background:#001a33;
    display: flexbox;
    justify-content: space-between;
    align-items: right;
    padding: 20px 100px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }

/* ---- section ---- */

.inline-list li{
    display:inline-block;
    }

.last-paragraph {
    padding: 0px 0px 20px 0px;
}

/* ---- components ---- */

.contact-btn {
    display: inline-block;
    background: white;
    border: 2px;
    border-style: solid;
    border-color: #001a33;
    color: #001a33;
    padding: 16px 50px;
    font-weight: 500;
    border-radius: 4px;
}

.contact-btn:hover{
    background: #001a33;
    color: #DDE1E4;
}

/* ---- elements style ---- */
img:hover{
    opacity: .7;
        -moz-box-shadow:    2px 3px 2px 1px #ccc;
        -webkit-box-shadow: 2px 2px 1px 2px #ccc;
        box-shadow:         3px 3px 1px 1px #ccc;
    }

img{
        max-width: 100%;
    }

.social-list a:hover {
    color:white;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
.banner h1{
    font-size: 1.5em;
}
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }


    .nav-container:hover > .nav{
        display: block;
        position:absolute;
        background: white;
        height:100vh;
        width:100vw;
        left:0;

    }
}

/* Medium devices (tablets, 768px and up) */


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container{
        margin: 0 auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .portfolio__list ul{
        display:inline-block;
    }

    portfolio__list li{
        width: 25%;
    }
}

/* Animation Functions */

@keyframes bounce {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 100;
    }
}